body {
    margin: 0;
}

p {
    margin: 0;
    text-align: -webkit-center;
}

.data {
    display: block;
    text-align: center;
}


form {
    display: block;
    padding: 20px;
    width: 100px;
    height: 100px;
    background: #ffffff73;
}

.container {
    background-image: url('header.jpg');
    width: 100%;
    height: 300px;
    display: block;
    background-repeat: no-repeat;
    background-position: top;

}

.picture {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.resto-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.restaurant-card {
    width: 200px;
    background: gainsboro;
    text-align: justify;
    justify-content: center;
    padding: 20px;
    margin: 30px;
}


.infromation {

    margin-bottom: 20px;
    text-align: center;
}